@charset "utf-8";
html,body{
    height: 100%;
}
a{
    text-decoration: none;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    list-style:none;
}

.body_bg{
    background-color: #222d32;
}

.mt_150{
    margin-top: 150px;
}

.mb_20{
    margin-bottom:20px;
}

.panel h4{
  text-align: center;
}

/*侧边栏*/
.lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: fixed;
    left: 0;
    top: 0;
    transition:all 1s;
    z-index: 999;
}

.lt_aside.now{
    left:-180px;
}

.lt_aside .brand a{
    display:block;
    width: 180px;
    height: 50px;
    background-color: #367fa9;
    text-align: center;
    line-height: 50px;
    font-size:24px;
    color: #fff;

}



.lt_aside .user {
    width: 180px;
    height: 150px;
}

.lt_aside .user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:30px auto 0px;
    display: block;
}

.lt_aside .user p{
    height: 40px;
    line-height: 40px;
    font-size:16px;
    color:#fff;
    text-align: center;
}

.lt_aside .nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left:30px;
    color:#ccc;
    border:3px solid transparent;
}

.lt_aside .nav a.active{
    background-color: #1d1f21;
    border-left-color:#069;
    color:#fff;
}

.lt_aside .nav .second a{
    padding-left: 50px;
}


/*主题区样式*/
.lt_main{
    height: 100%;
    width: 100%;
    padding-left: 180px;
    transition:all 1s;
}

.lt_main.now{
    padding-left:0;
}

.lt_main .lt_header {
    height: 50px;
    width: 100%;
    background-color: #3c8dbc;
    margin-bottom:20px;

}



.lt_main .lt_header a{
    font-size:16px;
    color: #fff;
    line-height: 50px;
    padding:0 20px;
}

.chart_left,.chart_right{
    width: 45%;
    height: 400px;
}

.table.table-bordered td{
    text-align: center;
    vertical-align: middle;
}

